body{
    margin-right: 200px;
    margin-left: 200px;
}

.profile{
    height: auto; 
    width: auto; 
    max-width: 290px; 
    max-height: 290px;
    padding: 1px;
    border: 1px solid #021a40;
    margin: 10px;
    transform:rotate(4deg);
}

header h1{
    text-align:left;
    line-height: 10px;
    padding-top: 23px;
    font-family: 'Questrial', sans-serif;
}

header p{
    text-align:left;
    font-family: 'Questrial', sans-serif;
}

.education h4{
	font-family: 'Questrial', sans-serif;
	letter-spacing: 1.5px;
}
.education p{
	font-family: 'Questrial', sans-serif;
	line-height: 15px;
}

.experience h4{
	font-family: 'Questrial', sans-serif;
	letter-spacing: 1.5px;
}

.experience p{
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	line-height: 20px;
}
.experience li{
	font-family: 'Questrial', sans-serif;
	line-height: 20px;
}
